


<!-- - - - - - - - - FOOTER - - - - - - - - - -->

		<footer>
			<div class="container footers">
				<div class="row" style="padding:none;">
					<div class="col-md-4 col-sm-4">
						<div class="footblock">
							<h3>Waarom SockSupply?</h3>
							<p>In een digitaal tijdperk koop je sokken bij ons. Prijs-kwaliteit, aan huis geleverd.</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="footblock">
							<h3> Schrijf je in op onze nieuwsbrief </h3>


							<div id="mc_embed_signup">
								<form action="http://ventures.us16.list-manage.com/subscribe/post?u=648de3ecdf6d1fac3ba391b49&amp;id=04be4e4771" method="post" id="mc-embedded-subscribe-form form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    								<div id="mc_embed_signup_scroll">
										<div class="mc-field-group">
											<label for="mce-EMAIL"></label>
											<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
										</div>
										<div id="mce-responses" class="clear">
											<div class="response" id="mce-error-response" style="display:none">
											</div>
											<div class="response" id="mce-success-response" style="display:none">
											</div>
										</div>
    									<div style="position: absolute; left: -5000px;" aria-hidden="true">
    									<input type="text" name="b_648de3ecdf6d1fac3ba391b49_04be4e4771" tabindex="-1" value="">
    									</div>
    									<div class="clear">
    									<input type="submit" value=">" name="subscribe" id="mc-embedded-subscribe" class="button">
    									</div>
    								</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="footblock">
							<h3> Contact </h3>
							<p>Stationstraat 9 bus 6, Antwerpen.
							</br>
							<a href="mailto:hello@socksupply.be?Subject=Hello%20SockSupply.">hello@socksupply.be</a>
							</br>
							<a href="tel:+32477177480">+32477177480</a>
							</p>
						</div>
					</div>
					</div>
				</div>
			</div>




			<div class="container social" style="padding:0px;margin:0px;">
				<i class="fa fa-instagram" style="padding:30px;"></i>
				<i class="fa fa-facebook" style="padding:30px;"></i>
				<i class="fa fa-twitter" style="padding:30px;"></i>

			</div>





		</footer>
