<!DOCTYPE html>
<html lang='en'>
  <head>
    {% comment %}
      Required by Shopify and can't be moved to a snippet
    {% endcomment %}
    {{ content_for_header }}
    {% include 'head' %}
  </head>
  <body class="{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if page.handle %} {{ page.handle }}{% endif %}" >

    {% comment %}
      Begin layout stuff
    {% endcomment %}

    {% include 'header' %}
    {{ content_for_layout }}
    {% include 'footer' %}

    {% comment %}
      END layout stuff
    {% endcomment %}

    {% include 'bottom' %}




    <div class="overlay overlay-boxify">
    			<nav>
    				<ul>
    					<li><a href="index.html">Home</a></li>
    					<li><a href="corporate.html">Corporate</a></li>
    				</ul>
    				<ul>
    					<li><a href="investor.html">Investor</a></li>
    					<li><a href="accellerator.html">Accellerator</a></li>
    				</ul>
    			</nav>
    		</div>




    <!-- - - - - - - - - SCRIPTS - - - - - - - - - -->

    		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        {{ 'toucheffects-min.js'  | asset_url | script_tag }}
        {{ 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'  | script_tag }}
        {{ 'flickity.pkgd.min.js'  | asset_url | script_tag }}
        {{ 'jquery.fancybox.pack.js'  | asset_url | script_tag }}

    		<!-- Include all compiled plugins (below), or include individual files as needed -->
        {{ 'retina.js'  | asset_url | script_tag }}
        {{ 'waypoints.min.js' | asset_url | script_tag }}
        {{ 'bootstrap.min.js'  | asset_url | script_tag }}
        {{ 'scripts-min.js'  | asset_url | script_tag }}
    		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. UA-73265647-3 -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-104233085-1', 'auto');
      ga('send', 'pageview');
    </script>


  </body>
</html>
